.section-blog {
    padding-top: 90px;

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 65px;

        h3 {
            margin: 0;
        }
    }

}