.section-lunch {
    background-color: #f7f7f7;
    padding: 100px 0;
    overflow: hidden;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.lunch-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 90px 0px 70px;
    padding: 25px 0px;

    @include media((
        margin: (1200: 0px 60px 0px 40px)
    ));

    .section-title {
        margin: 0;
    }
}

.lunch-slider {

    position: relative;
    top: 0;
    left: 0;
    padding-right: 150px;
    padding-left: 28px;

    @include media((

        padding-right: (605: 0px)
    ));

}

.lunch-slider-track {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 400px;
    height: 100%;
}

.lunch-slider-track__item {
    width: 600px;
    height: 400px;
    @include media((
        width: (830: 500px, 720: 400px, phoneWide: 300px),
        height: (830: 300px, 720: 267px, phoneWide: 200px)
    ));

    transition: transform 0.3s;

    img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &-name {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 15px;
        font-weight: $font-bold;
        letter-spacing: 0.75px;
    }

    &-day {
        color: #dcdee0;
        font-family: $primary-font;
        font-size: 20px;
        font-weight: $font-bold;
        letter-spacing: 2px;
        font-style: italic;
    }

    &-price {
        display: none;

        width: 100px;
        height: 50px;
        position: absolute;
        top: 30px;
        right: 35px;
        background-color: #edeff2;
        color: $primary-color;
        font-family: $primary-font;
        font-size: 17px;
        font-weight: $font-medium;
        letter-spacing: 1.7px;
        text-align: center;
        align-items: center;
        justify-content: center;
        @include media((
            width: (phoneWide: 60px),
            height: (phoneWide: 30px),
            font-size: (phoneWide: 12px)
        ));
    }
}

.lunch-info-holder {
    display: none;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}


.current-slide .lunch-info-holder {
    display: flex;
}

.current-slide .lunch-slider-track__item-price {
    display: flex;
}

.lunch-slider__btn {
    background-image: none;
    background-color: #edeff2;
    border: 2px solid #edeff2;
    position: absolute;
    top: 50%;
    left: 0;
    

    &--prev {
        top: 35%;
        left: 0px;
    }

    &--next {
        bottom: 35%;
        left: 0px;
    }
}


