
.section-menu {
   
    padding-bottom: 10px;

    .section-text-side-holder {
        text-align: right;
    }

    .section-images-side-holder {
        margin-left: 80px;
        padding-left: 105px;
        margin-bottom: -80px;
    }

    .section-img {
        z-index: 2;
    }

    .section-img:last-child {
        transform: translate(-105px, -90px);
        z-index: 0;
    }
}

@media (max-width: 850px) {
    .section-menu {
        .section-content-holder {
            flex-direction: column-reverse;
            align-items: center;
        }
        
        .section-text-side-holder {
            max-width: 700px;
        }

        .section-title {
            margin: 0;
        }

        .section-images-side-holder {
            
            margin-left: 0px;
        }

        .section-text-side-holder {
            margin-bottom: 50px;
        }
    }
}