.section-order {
    padding: 0;
    height: 200px;
    background: url("../images/index/order/order-1.jpg") no-repeat;
    background-position: center center;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        color: $white-color;
        font-family: $primary-font;
        font-size: 11px;
        font-weight: $font-bold;
        text-transform: uppercase;
        letter-spacing: 1.65px;
        width: 170px;
        background-color: #1e2633;
        display: block;
        text-align: center;
        padding: 16px 0;
        transition: background 0.3s;

        &:hover {
            background-color: #3a4963;
        }
    }

}