.section-reservation {

    padding-bottom: 0px;

    .section-title {
        margin-left: -0.1em;
    }

    .section-text-side-holder {
        margin-left: 80px;


        @include media((
            margin-left: (tabletWide: 50px, tablet: 25px, phone: 0px),
            max-width: (smallPhone-921: 100%)
        ));
    }

    .section-content-holder {
        flex-wrap: wrap;
    }

    .section-images-side-holder {
        padding-left: 47px;
    }

    img:first-child {
        transform: translate(-47px, 0);
        z-index: 10;
    }
    img:last-child {
        transform: translate(0, -75px);
        margin-bottom: -75px;
    }

}
