.section-services {
    
    padding-bottom: 0;

    .services-top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 65px;

        h3 {
            margin: 0;
        }
    }

    .services-list {
        display: flex;
        justify-content: center;
       
        background-color: #f7f7f7;
        @include media((
            flex-direction: (phoneWide: column),
        ));

        &__item {
            color: #1e2633;
            font-family: $primary-font;
            font-size: 20px;
            font-weight: $font-medium;
            line-height: 1.9;
            letter-spacing: 2px;
            padding: 0px 70px;
            display: flex;
            align-items: center;
            height: 275px;
            width: 100%;
        
            @include media((
                padding: (tablet: 0 50px, tabletSmall: 0 40px, phablet: 0 30px, phoneWide: 0 20px, phone: 0, smallPhone: 0),
                height: (phablet: 200px, phoneWide: 150px, phone: 150px, smallPhone: 120px),
                
            ));

            p {
                text-align: center;
                margin: 0 auto;

                @include media((
                    margin (phoneWide: 0 auto),
                ));
            }

        
        }

        &__item:not(:first-child):not(:last-child) {
            border-right: 1px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
            
            @include media((
                border-right: (phoneWide: none),
                border-left: (phoneWide: none),
                border-top: (phoneWide: 1px solid #d9d9d9),
                border-bottom: (phoneWide: 1px solid #d9d9d9),
            ));
        }
    }
}