.section-services {
    
    padding-bottom: 0;

    .services-top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 65px;

        h3 {
            margin: 0;
        }
    }

    .services-list {
        display: flex;
        justify-content: center;
       
        height: 275px;
        background-color: #f7f7f7;

        &__item {
            color: #1e2633;
            font-family: $primary-font;
            font-size: 20px;
            font-weight: $font-medium;
            line-height: 1.9;
            letter-spacing: 2px;
            padding: 0px 70px;
            display: flex;
            align-items: center;

            @include media((
                padding: (tablet: 0 50px, phone: 0 30px),
            ));

            p {
                text-align: center;
            }

        
        }

        &__item:not(:first-child):not(:last-child) {
            border-right: 1px solid #d9d9d9;
            border-left: 1px solid #d9d9d9;
        }
    }
}