// Base styles

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: $primary-color;
    background-color: $white-color;
    font-family: $primary-font;
    font-weight: $font-regular;
    line-height: 1.45;
    min-width: 320px;
    overflow-x: hidden;
	margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {display: block;};
p {margin: 0;}
h1,h2,h3 {margin: 0;}
ul {margin: 0; padding: 0;}
li {list-style: none;}

.container {
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hover {
    transition: color .3s;
    &:hover {
        color: $tertiary-color;
    }
}

.slick-arrow {
	width: 55px;
	height: 55px;
	border: 2px solid $white-color;
	background-color: transparent;
	outline: none;
	font-size: 0;
    cursor: pointer;
    
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.slick-prev {
    background-image: url('../images/index/icons/arrow-left.svg');
}

.slick-next {
    background-image: url('../images/index/icons/arrow-right.svg');
}

/* STYLES FOR INTRO */
/* STYLES FOR INTRO */
/* STYLES FOR INTRO */

.intro {
    
    background-color: gray;
    background-repeat: no-repeat;
    height: 700px;

    
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 700px;
        top: 0;
        left: 0;
        background: #1e2633;
        opacity: 0.5;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
    
    &__holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100px;
        margin-bottom: 100px;
        position: relative;
    }

    &__caption {
        color: #fff;
        font-family: Axis,sans-serif;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 0.1em;
        z-index: 20;
        line-height: 1.2;
        z-index: 10;
    }

    &__subcaption {
        color: #985e5b;
        font-weight: 700;
        letter-spacing: 1.2px;
        font-family: Montserrat,sans-serif;
        font-size: 30px;
        z-index: 10;
        
    }
}

@media (max-height: 630px) {
    .intro,
    .intro::after {
        height: 500px;
    }
}




/* STYLES FOR SECTIONS */
/* STYLES FOR SECTIONS */
/* STYLES FOR SECTIONS */

.section {
    padding: 100px 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $white-color;
    @include media((
        padding: (phoneWide: 70px 0, phone: 50px 0, smallPhone: 40px 0)
    ));
}

.section-content-holder {
    display: flex;
    justify-content: center;

    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.section-text-side-holder {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    margin-top: 30px;
    @include media((
        margin-top: (tabletSmall: 25px, phablet: 20px, phoneWide: 15px),
    ));
}

.section-images-side-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-img {
    display: block;
    max-width: 450px;
    width: 100%;
    z-index: 9;
}

.section-title {
    color: $primary-color;
    font-family: $secondary-font;
    font-size: 50px;
    font-weight: $font-regular;
    letter-spacing: 0.2em;
    line-height: 1.25;
    @include media((
        font-size: (phablet: 35px, phoneWide: 30px, phone: 25px),
    ));
}

.section-title-small {
    color: #985e5b;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.section-text {
    color: $paragraph-color;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: $font-medium-well;
    line-height: 30px;
    letter-spacing: 1.8px;
    margin-top: 13px;
    
}

.draw-border {
  @include btn-border-drawing(#959191, #985e5b, 2px, bottom, right);
}

//=== Button styling, semi-ignore
.link-to-page {
    margin-top: 10px;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 15px 'Monsterrat', sans-serif;
    padding: 13px 0px;
    letter-spacing: 0.01rem;
}