// Font imports 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'Axis';
    font-style: normal;
    font-weight: normal;
    src: local('Axis'), url('fonts/axis.woff') format('woff');
}

