.no-scroll {
   overflow-y: hidden; 
}

.page-about {

    .section-about {
        padding-bottom: 100px;
        border-bottom: 1px solid #ebebeb;
    }

    .section-goals {

        border-bottom: 1px solid #ebebeb;

        .section-text-side-holder {
            text-align: right;

        }

        .section-title {
            margin-right: -0.2em;
        }

        .section-images-side-holder {
            margin-left: 100px;
            padding-left: 47px;
            margin-bottom: -65px;
        }

        .section-img {
            z-index: 2;
        }

        .section-img:last-child {
            transform: translate(-47px, -65px);
            z-index: 3;
        }
    }
}

@media (max-width: 850px) {
    .section-goals {
        .section-content-holder {
            flex-direction: column-reverse;
            align-items: center;
        }
        
        .section-text-side-holder {
            max-width: 700px;
        }

        .section-title {
            margin: 0;
        }

        .section-images-side-holder {
            margin-left: 0px !important;
        }
    }
}

.section-gallery {
    .gallery {
        display: flex;
        justify-content: space-between;

        &__holder {
            display: flex;
        }

        &__img {
            display: block;
            max-width: 320px;
            max-height: 220px;
            width: 100%;
            height: 100%;
        }

        &__img-link {
            z-index: 10;
        }

        &__img-holder {
            position: relative;
            cursor: pointer;

            a {
                display: block;
            }

        }

        &__img-holder::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 34, 0.2);
            opacity: 1;
            transition: opacity .3s;
        }

        &__img-holder:not(:first-child) {
            margin-left: -220px;
            z-index: 2;
        }

        &__img-holder:hover {
            &::after {
                opacity: 0;
            }
        }


        &__hours {
            width: 260px;
            height: 220px;
            border: 3px solid #f2f3f5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10px;

            p {
                color: $primary-color;
                font-family: $primary-font;
                font-size: 12px;
                font-weight: $font-bold;
                line-height: 25px;
                text-transform: uppercase;
                letter-spacing: 1.2px;
            }

            p:nth-child(even) {
                margin-top: 10px
            }
        }

        &__oppening {
            color: #985e5b;
            font-family: $primary-font;
            font-size: 14px;
            font-weight: $font-bold;
            line-height: 25px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
        }
    }
}

.gallery {
    &__modal-holder {
        z-index: 100;
        height: 100%;
        width: 100%;
        padding: 0 15px;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .5s ease;
        opacity: 0;
        visibility: hidden;

        &.open {
            opacity: 1;
            visibility: visible;
        }
        
        div {
            position: relative;
        }
    }
    @for $i from 1 through 10 {
        .gallery__img-holder:nth-child(#{$i}) { animation-delay: $i / 2 + s; }
    }

    &__modal {
        background-color: white;

        img {
            width: 100%;
            height: 100%;
            background-color: black;
        }
    }

    &__modal-close {
        position: absolute !important;
        z-index: 1000;
        right: -5px;
        top: -40px;
        width: 32px;
        height: 32px;
        opacity: 1;
        cursor: pointer;
        transition: opacity .3s;
    }
    &__modal-close:hover {
        opacity: 0.8;
    }
    &__modal-close:before, &__modal-close:after {
        position: absolute;
        z-index: 1000;
        right: 15px;
        content: '';
        height: 33px;
        width: 2px;
        background-color: white;
    }
    &__modal-close:before {
        transform: rotate(45deg);
    }
    &__modal-close:after {
        transform: rotate(-45deg);
    }

    &__modal-arrow {
        position: absolute;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: center;
        z-index: 1000;
    }

    &__modal-next {
        right: -30%;
    }
    &__modal-prev {
        left: -30%;
    }
    &__modal-next svg,
    &__modal-prev svg {
        fill: #ffffff;
        transition: fill 0.3s;
    }

    &__modal-next:hover svg,
    &__modal-prev:hover svg {
        fill: #bebebe;
    }
}


@media (max-width: 1080px) {
    .section-gallery .gallery {
        flex-direction: column;
        align-items: center;
    }

    .section-gallery .gallery__hours {
        margin-top: 30px;
        margin-left: 0px;
    }

}

@media (max-width: 870px) {
    .gallery__holder {
        flex-direction: column;
    }

    .gallery .gallery__img-holder:not(:first-child) {
        margin-left: 0px;
        margin-top: -110px;
    }

    .gallery .gallery__img-holder {

        &::after {
            background-image: url('/assets/images/about/zoom.png');
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @for $i from 1 through 10 {
        .gallery .gallery__img-holder:nth-child(#{$i}) { z-index: 10 - $i; }
    }


}

@media (max-width: 400px) {
    .gallery .gallery__img {
        position: relative;
        max-width: 300px;
        max-height: 200px;
    }
}