.section-main-blog {
    padding-top: 90px;
    padding-bottom: 0px;
}

.bar-fixed {
    position: fixed;
    top: 60px;
    max-width: 385px;
    width: 34.43%;
}

.blog {
    display: flex;
    justify-content: space-between;

    &__blog-side {
        max-width: 700px;
        width: 59.33%;
        
    }
    &__bar-side {
        max-width: 385px;
        width: 34.43%;

    }
    &__item {
        display: flex;
        flex-direction: column;
    }
    &__item:not(last-child) {
        margin-bottom: 90px;
    }
    &__content-holder {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__category {
        color: #985e5b;
        font-family: $secondary-font;
        font-size: 12px;
        font-weight: $font-regular;
        letter-spacing: 2.4px;
        margin-top: 5px;
    }
    &__title {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 30px;
        font-weight: $font-medium-well;
        letter-spacing: 3px;
        margin: 15px 0;
    }
    &__date {
        color: #bbbdbf;
        font-family: $primary-font;
        font-size: 12px;
        font-weight: $font-bold;
        letter-spacing: 1.2px;
        margin-bottom: 25px;
    }
    &__img,
    &__video {
        max-width: 700px;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }
    &__img {
        margin-bottom: 20px;
    }
    &__video {
        object-fit: cover;
        cursor: pointer;

        &:hover .blog__playpause {
            border: 3px solid white;
        }
    }
    &__playpause {
        display: flex;
        justify-content: center;
        align-items: center;

        width:55px;
        height:55px;
        position:absolute;
        border: 2px solid white;
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;
        margin:auto;
        transition: border .3s;

    }
    &__text {
        color: $paragraph-color;
        font-family: $primary-font;
        font-size: 12px;
        font-weight: $font-medium-well;
        line-height: 30px;
        letter-spacing: 1.6px;
        text-transform: none;
        align-self: start;
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 677px;
    }
    &__text:first-child {
        margin-top: 40px;
    }
    &__link {
        text-transform: none;
        color: #985e5b;
        font-family: $primary-font;
        font-size: 12px;
        font-weight: $font-bold;
        line-height: 30px;
        letter-spacing: 1.8px;
        align-self: start;
        &:hover {
            color:#2d2e39;
        }
    }

    &__pager-navigation {
        border-top: 1px solid #f2f2f2;
        width: 100%;


        .container {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
    }
    &__pager-list {
        display: flex;

        a {
            display: block;
            padding: 10px 20px;
            color: $primary-color;
            font-family: $primary-font;
            font-size: 15px;
            font-weight: $font-bold;
            line-height: 30px;
            text-transform: uppercase;
            transition: color .3s;
            &:hover {
                color: #985e5b;
            }
        }
    }
    &__prev {

        padding-left: 6px;
        border-right: 1px solid #f2f2f2;
    }
    &__next {
        display: flex;
        justify-content: flex-end;
        padding-right: 6px;
        border-left: 1px solid #f2f2f2;
    }
    &__arrow {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        svg {
            transition: fill .3s;
        }

        &:hover svg {
            fill: #985e5b;
        }
    }
}


.blog {
    .search-form {
        display: flex;
        justify-content: space-between;
    }

    &__search {
        width: 100%;
        padding: 12px 0;
        border: none;
        border-bottom: 3px solid #f5f7fa;
        color: $paragraph-color;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: $font-medium;
        line-height: 25px;
        transition: border-bottom-color .3s;

        &:focus {
            outline: none;
            border-bottom-color: #a77673;
        }
       
        &::-webkit-input-placeholder {color:#bbbdbf;}
        &::-moz-placeholder          {color:#bbbdbf;}
        &:-moz-placeholder           {color:#bbbdbf;}
        &:-ms-input-placeholder      {color:#bbbdbf;}
    }

    &__searsh-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 9px 0px 12px 20px;
        border-bottom: 3px solid #f5f7fa;
        transition: fill .3s, border-bottom-color .3s;

        svg {
            height: 13px;
            width: 13px;
        }

        &:hover {
            fill: #a77673;
            
        }
    }

    &__category-title,
    &__popular-title {
        margin-top: 60px;
        margin-bottom: 18px;
        color: $primary-color;
        font-family: $primary-font;
        font-size: 12px;
        font-weight: $font-bold;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }

    &__categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__category-item {
        width: 50%;
        margin-bottom: 5px;
        a {
            color: $primary-color;
            font-family: $primary-font;
            font-size: 13px;
            font-weight: $font-medium-well;
            line-height: 37px;
            letter-spacing: 1.3px;
            transition: color .3s;

            &:hover {
                color: #a77673;
            }
        }
    }

    &__popular-title {
        margin-top: 43px;
        margin-bottom: 28px;
    }

    &__popular-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 32px;
    }

    &__popular-post-title {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 13px;
        font-weight: $font-medium-well;
        line-height: 25px;
        letter-spacing: 1.3px;
        transition: color .3s;

        &:hover {
            color: #a77673;
        }
    }

    &__popular-post-date {
        color: #bbbdbf;
        font-family: $primary-font;
        font-size: 11px;
        font-weight: $font-medium-well;
        letter-spacing: 1.1px;
        margin-top: 10px;
    }

    &__popular-post-img {
        margin-right: 20px;
        display: block;
        width: 85px;
        height: auto;
    }

}

@media (max-width: 868px) {
    .blog {
        flex-direction: column;
        align-items: center;   

        &__blog-side,
        &__bar-side,
        .bar-fixed {
            width: 100%;
            position: static;
        } 
    }

}

@media (max-width: 405px) {
    .blog__title {
        font-size: 20px;
    }

    .blog__item:not(last-child) {
        margin-bottom: 50px;
    }
}