.page-tab-menu {
    .section-menu {
        padding-bottom: 20px;
    }
}

.tab-menu {

    &__section {
        display: none;
    }

    &__links-holder {
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 33px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        max-width: 562px;
        margin: 0 auto;
    }

    &__link {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 12px;
        font-weight: $font-bold;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        transition: color .3s, border-bottom .3s;
        padding-bottom: 18px;
        border-bottom: 2px solid transparent;

        &:hover,
        &.active {
            color: #985e5b;
            border-bottom: 2px solid #985e5b;
        }
    }

    &__dish-type {
        display: inline-block;
        color: $primary-color;
        font-size: 22px;
        font-weight: $font-medium-well;
        line-height: 24px;
        font-style: italic;
        margin: 77px 0px 53px 140px;
        @include media((
            margin: (phone: 53px auto 20px auto),
            width: (phone: 100%),
            text-align: (phone: center),
        ));
    }

    &__dish-list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        margin-bottom: 47px;
    }

    &__item:last-child {
        margin-bottom: 0px;
    }

    &__img {
        display: block;
        margin-right: 53px;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        object-fit: cover;
        @include media((
            margin-right: (phone: 30px),
        ));
    }

    &__info-holder {
        margin-top: 10px;
    }

    &__dish-name {
        color: $primary-color;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: $font-bold;
        line-height: 24px;
        letter-spacing: 0.7px;
    }

    &__dish-desc {
        max-width: 768px;
        color: $paragraph-color;
        font-family: $primary-font;
        font-size: 12px;
        font-weight: $font-medium-well;
        line-height: 24px;
        letter-spacing: 1.8px;
        margin-right: 10px;
    }

    &__price-container {
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    &__price {

        color: #dcdee0;
        color: $primary-color;
        font-size: 25px;
        font-weight: $font-medium-well;
        line-height: 20px;
        letter-spacing: 1.25px;

        margin-left: auto;

        span {
            color: #dcdee0;
        }
    }

    &__btn {
        background: url('/assets/images/menu/add-to-cart.png') no-repeat;
        width: 52px;
        height: 52px;

        margin-right: 10px;
        border-radius: 50%;
        background-position: center;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        align-self: center;

        &:hover {
            background-color: #c8c8c8;
        }
        &:focus {
            outline: none;
            border: 2px solid #b6b6b6;
        }

    }
}

@media (max-width: 550px) {
    .tab-menu {
        &__img {
            width: 70px;
            height: 70px;
        }

        &__price-container {
            position: absolute;
            top: 60px;
            margin: 0;
            flex-direction: column;
        }

        &__price {
            margin: 0;
        }

        &__item {
            position: relative;
        }
    }
}
