// Scss variables (colours etc...)

$primary-color: #1e2633;
$secondary-color: #000000;
$paragraph-color: #404040;
$white-color: #ffffff;


$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Axis', sans-serif;
$tertiary-font: 'Pacifico', sans-serif;

$font-regular: 400;
$font-bold: 700;
